@charset "utf-8";

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  line-height: 50px;
}

body {
  margin: 0 auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;  /* 上部 50px の位置に固定 */
  left: 50px;
  z-index: 1;
}

.profMenu {
  padding: 0;
  list-style: none;
}

.profMenu li {
  font-size: 12px;
  line-height: 20px;
  color: rgb(131, 131, 131);
}

.top {
  padding-top: 20px;
}

.headerMenu {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: #fff;
  justify-content: space-between;
}

.navbar {
  text-decoration: none;
  color: black;
}

.wrapTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 30px;
}

.menu {
  writing-mode: vertical-rl;
  color: rgb(100, 100, 100);
}

.main {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.sub {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.main span, .sub {
  text-orientation: upright;
}

.container {
  color: #605648;
}

.welcome img {
  width: 100%;
}

.profile, .project, .order, .check, .process {
  padding-top: 50px;
}

.profile h1, .project h1, .design h1, .cording h1, .cms h1, .order h1, .order h2, .process h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 30px;
}

.profile h1, .project h1, .order h1 {
  text-decoration: underline;
}



.profile p, .design p, .cording p, .cms p {
  padding: 30px 0;
  line-height: 2.5em;
}

.design {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design img{
  width: 300px;
  border-radius: 100px;
}

.cording {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cording img {
  width: 400px;
}

.cms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cms img {
  width: 400px;
}

.order h1, .order p, .order h2 {
  text-align: center;
}

.order h2 {
  margin-top: 50px;
}

.check, .processMenu {
  background-color: rgb(234, 239, 245);
  border-radius: 20px;
}

.check li, .processMenu li {
  padding: 10px;
}

.process {
  margin-bottom: 100px;
}

.process h2 {
  text-align: center;
}

footer {
  height: 300px;
  margin: 100px 0 50px;
}

.sns-wrap {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}

.sns-icon {
  list-style: none;

}

.snsLink {
  text-decoration: none;
  color: skyblue;
}

.contactWrap {
  display: flex;
  justify-content: center;
}

.footer-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.contact {
  padding: 0;
  border: 0;
  width: 200px;
  height: 50px;
  background-color: #4b94ed;
  border-radius: 50px;
  box-shadow: 0px 5px 2px gray;
}

.contactLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.7rem;
}

@media (min-width: 1200px) {
  .container {
    width: 720px;
  }

  .design .cording .cms{
    display: flex;
    flex-direction: row;
  }
}